{% for t in talks if t.date == filter %}
<div data-role="page" id="talk-{{t.date}}-{{loop.index}}">

    <div data-role="header">
    	<h1>{{t.title}}</h1>
    </div><!-- /header -->

	<div data-role="content">
        <p> {{t.date}} {{t.time}} - {{ t.room }}</p>
        <h3>{{t.title}}</h3>
        <strong>{{t.speaker}}</strong>
        <p>
        <img hspace=10 src="{{t.avatar}}" align="left" />
        {{t.desc }}
        </p>

	</div><!-- /content -->

</div><!-- /page -->
{% endfor %}
