{% for t in talks if t.date == filter %}
<div data-role="page" id="talk-{{t.date}}-{{loop.index}}">

    <div data-role="header">
    	<h1>{{t.title}}</h1>
    </div><!-- /header -->

	<div data-role="content">
        <h3>{{t.title}}</h3>
        <p><strong>{{t.speaker}}</strong> -
        {{t.date}} {{t.time}}</p>
        <img hspace=10 src="{{t.avatar}}" align="left" />
        {{t.desc }}


	</div><!-- /content -->

</div><!-- /page -->
{% endfor %}
